{% extends "admin/admin_info.html" %}
{% block title %}
    <title>收藏统计</title>
{% endblock %}

{% block profile_block %}
    {{ super() }}
{% endblock %}
{% block collections %}
    <div class="cs-profile-area">
        <div class="cs-title no-border">
            <h4>
                单个功能收藏统计收藏统计
            </h4>
        </div>
        <div class="cs-profile-holder">
            <div class="cs-table-holder">
                <table>
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            任务标题
                        </th>
                        <th>
                            任务 ID
                        </th>
                        <th>
                            收藏时间
                        </th>
                        <th>
                            收藏者
                        </th>
                    </tr>
                    </thead>
                    {% for i in collections %}
                        <tbody>
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                {{ i.function_title }}
                                {#                                                                                            <a href="/admin/collections/{{ i.function_id }}">{{ i.function_title }}</a>#}
                            </td>
                            <td>
                                {{ i.function_id }}
                            </td>
                            <td>
                                {{ i.created_at }}
                            </td>
                            <td>
                                {{ i.collection_by_user }}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
