{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

        {% block head %}
            {% block title %}
                <title>众筹成功</title>
            {% endblock %}
            {{ super()}}
        {% endblock %}

        <body>
        {% block body %}
        {% for message in get_flashed_messages() %}
            <strong>{{ message }}</strong>
        {% endfor %}
            <div class="wrapper">
            {% block header %}
                {{ super() }}
            {% endblock %}

                <main id="main-content">
                <div class="main-section">
                    <div class="page-section">
                        <div class="profile-pages">
                            <div class="container">
                                <div class="row">
                                    <div class="section-fullwidth col-lg-12">
                                        <div class="cs-content-holder">
                                            <div class="row" >
                                                <div class="cause-holder" style="width: 100%">
                                                    <div class="col-lg-12">
                                                        {% block profile_block %}
                                                        <div class="profile-block">
                                                            <ul class="scroll-nav">
                                                                <li class="active">
                                                                    <a href="{{ url_for('admin.functions_state', state = "未审核") }}"><i class="icon-circle-o-notch"></i>待审核任务</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.functions_state', state = "审核中") }}"><i class="icon-save"></i>审核中任务</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.functions_state', state = "未通过") }}"><i class="icon-money"></i>未通过任务</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.functions_state', state = "已通过") }}"><i class="icon-gear"></i>众筹中（已审核）任务</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><i class="icon-star-o"></i>打赏统计</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.show_all_collections') }}"><i class="icon-star-o"></i>收藏统计</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.show_all_users') }}"><i class="icon-sign-in"></i>用户管理</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.show_crowd_funding_success_functions') }}"><i class="icon-sign-in"></i>众筹成功</a>
                                                                </li>
                                                                <li>
                                                                    <a href="{{ url_for('admin.show_crowd_funding_fail_functions') }}"><i class="icon-sign-in"></i>众筹失败</a>
                                                                </li>
                                                            </ul>
                                                            {% block collections %}


                                                            <div class="cs-profile-area">
                                                                <div class="cs-title no-border">
                                                                    <h4>
                                                                        众筹成功的任务
                                                                    </h4>
                                                                </div>
                                                                <div class="cs-profile-holder">
                                                                    <div class="cs-table-holder">
                                                                        <table>
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        #
                                                                                    </th>
                                                                                    <th>
                                                                                        任务标题
                                                                                    </th>
                                                                                    <th>
                                                                                        金额
                                                                                    </th>
                                                                                    <th>
                                                                                        众筹天数
                                                                                    </th>
                                                                                    <th>
                                                                                        到期时间
                                                                                    </th>
                                                                                    <th>
                                                                                        发起人
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            {% for function in success_functions %}
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{ loop.index }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function.function_title }}
{#                                                                                            <a href="/admin/{{ i.function_id }}">{{ i.function_title }}</a>#}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function.crowd_funding_money }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function.crowd_funding_days }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function.closing_time }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ i.publisher }}
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endblock %}
                                                        </div>
                                                        {% endblock %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main><!--// Main Content //-->


            </div>

            {% block register %}
            {{ super() }}
        {% endblock %}

        <!--// Footer Widget //-->
        {% block footer %}
            {{ super() }}
        {% endblock %}
        <!--// Footer Widget //-->

        <!--// CopyRight //-->
        {% block copyright %}
            {{ super() }}
        {% endblock %}
        <!--// CopyRight //-->

        {% endblock %}
        </body>
</html>