{% extends "admin/admin_info.html" %}

{% block title %}
    <title>打赏统计</title>
{% endblock %}

{% block profile_block %}
    {{ super() }}
{% endblock %}
{% block collections %}
    <div class="cs-profile-area">
                                                                <div class="cs-title no-border">
                                                                    <h4>
                                                                        打赏统计
                                                                    </h4>
                                                                </div>
                                                                <div class="cs-profile-holder">
                                                                    <div class="cs-table-holder">
                                                                        <table>
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>
                                                                                        #
                                                                                    </th>
                                                                                    <th>
                                                                                        任务 ID
                                                                                    </th>
                                                                                    <th>
                                                                                        打赏时间
                                                                                    </th>
                                                                                    <th>
                                                                                        打赏金额
                                                                                    </th>
                                                                                    <th>
                                                                                        打赏用户
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            {% for function_donations in all_functions_donations %}
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            {{ loop.index }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function_donations.function_id }}
{#                                                                                            <a href="/admin/{{ i.function_id }}">{{ i.function_title }}</a>#}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function_donations.created_at }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function_donations.money }}
                                                                                        </td>
                                                                                        <td>
                                                                                            {{ function_donations.contribution_by_user }}
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            {% endfor %}
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
{% endblock %}