<!DOCTYPE html>
<html lang="en">
{% block head %}
    {% block title %}
        <title>index</title>
    {% endblock %}
{% endblock %}
<body>
    <div class="wrapper">
        {% for message in get_flashed_messages() %}
                {{ message }}
        {% endfor %}

        {% block header %}
        {% endblock %}

        <div class="cs-banner">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <figure>
                                <img src="../static/assets/extra-images/banner.jpg" alt="#">
                                <figcaption>
                                    <div class="text">
                                        <h2>
                                            随时随地探索项目！
                                        </h2>
                                        <div class="spreator5"></div><span>就像您一样，使用Razoo的人们创建了90,000多个筹款网站，并为他们关心的事业捐款超过2.5亿美元<br>
                                        </span><a href="#" class="explore-btn cs-bgcolor">探索活动</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="../static/assets/extra-images/banner.jpg" alt="#">
                                <figcaption>
                                    <div class="text">
                                        <h2>
                                            随时随地探索项目！
                                        </h2>
                                        <div class="spreator5"></div><span>就像您一样，使用Razoo的人们创建了90,000多个筹款网站，并为他们关心的事业捐款超过2.5亿美元<br>
                                        </span><a href="#" class="explore-btn cs-bgcolor">探索活动</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div><!-- Main Content -->
            <main id="main-content">
                <div class="main-section">
                    <div class="page-section">
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth col-lg-12">
                                    <div class="cs-content-holder">
                                        <div class="row">
                                            <!-- <div class="main-heading top-center">
                                                <h1>
                                                    The world’s funding engine.
                                                </h1><strong class="title">We're distributing millions of dollars every week to campaigners around the world. Whether you're raising 500 dollars or 5 million euros.</strong>
                                            </div> -->
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <article class="cs-services modren top-center">
                                                    <figure>
                                                        <img src="../static/assets/extra-images/ico-services1.png" alt="">
                                                    </figure>
                                                    <div class="text">
                                                        <h2>
                                                            第一步、创建您的页面
                                                        </h2>
                                                        <!-- <p>
                                                            So sarcastically strung dazedly crab dear good-ness exuberant lightly fish so hey underneath to excluding apt burst walked gosh pugnaciously hello onto ouch lantern.
                                                        </p><a href="#" class="read-more">Read More</a> -->
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <article class="cs-services modren top-center">
                                                    <figure>
                                                        <img src="../static/assets/extra-images/ico-services2.png" alt="">
                                                    </figure>
                                                    <div class="text">
                                                        <h2>
                                                            第二步、分享你的故事
                                                        </h2>
                                                        <!-- <p>
                                                            So sarcastically strung dazedly crab dear good-ness exuberant lightly fish so hey underneath to excluding apt burst walked gosh pugnaciously hello onto ouch lantern.
                                                        </p><a href="#" class="read-more">Read More</a> -->
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <article class="cs-services modren top-center">
                                                    <figure>
                                                        <img src="../static/assets/extra-images/ico-services3.png" alt="">
                                                    </figure>
                                                    <div class="text">
                                                        <h2>
                                                            第三步、筹集资金
                                                        </h2>
                                                        <!-- <p>
                                                            So sarcastically strung dazedly crab dear good-ness exuberant lightly fish so hey underneath to excluding apt burst walked gosh pugnaciously hello onto ouch lantern.
                                                        </p><a href="#" class="read-more">Read More</a> -->
                                                    </div>
                                                </article>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-section">
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth col-lg-12">
                                    <div class="cs-content-holder">
                                        <div class="row">
                                            <aside class="page-sidebar col-lg-3">
                                                <div class="widget cs_directory_categories">
                                                    <div class="widget-section-title">
                                                        <h4>
                                                            <i class="icon-globe4"></i>15 种多样的类别
                                                        </h4>
                                                    </div>
                                                    <ul class="menu">
                                                        <li>
                                                            <a href="#"><i class="icon-user9 cscolor"></i>Art</a><span>233</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-heart11 cscolor"></i>Comics</a><span>258</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-brush2 cscolor"></i>Craft</a><span>89</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-circle-thin cscolor"></i>Dance</a><span>1879</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-key7 cscolor"></i>Design</a><span>55</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-sun4 cscolor"></i>Fashion</a><span>12</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-light-bulb cscolor"></i>Film & Video</a><span>8</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-clipboard6 cscolor"></i>Food</a><span>10</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-archive2 cscolor"></i>Games</a><span>56</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-pie2 cscolor"></i>Journalism</a><span>233</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-lock6 cscolor"></i>Music</a><span>258</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-upload10 cscolor"></i>Photography</a><span>1879</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-archive3 cscolor"></i>Publishing</a><span>55</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-sound4 cscolor"></i>Technology</a><span>89</span>
                                                        </li>
                                                        <li>
                                                            <a href="#"><i class="icon-evernote cscolor"></i>Theatre</a><span>13</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="widget widget_advertisment">
{#                                                    <img src="../static/assets/extra-images/adv2.jpg" alt="">#}
                                                    <img src="../static/assets/extra-images/adv2.jpg" alt="">
                                                </div>
                                            </aside>
                                            <div class="page-content col-lg-9">
                                                <div class="listing_grid">
                                                    <div class="row">
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/img.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-1.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:84%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">84% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-2.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-3.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-4.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:84%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">84% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-5.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-6.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-7.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:84%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">84% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                        <article class="col-lg-4 col-md-4 col-sm-6">
                                                            <div class="directory-section">
                                                                <div class="cs_thumbsection">
                                                                    <figure>
                                                                        <a href="#"><img src="../static/assets/extra-images/listing-grid-8.jpg" alt=""></a>
                                                                    </figure>
                                                                </div>
                                                                <div class="content_info">
                                                                    <div class="title">
                                                                        <h3>
                                                                            <a href="#">We Are Cove Point - Stop Gas Export Plant</a>
                                                                        </h3><span class="addr">user2-测试任务四的简介</span>
                                                                    </div>
                                                                    <div class="dr_info">
                                                                        <ul>
                                                                            <li>
                                                                                <i class="cscolor icon-target5"></i>¥84,000 goal
                                                                            </li>
                                                                            <li>
                                                                                <i class="cscolor icon-clock7"></i>July 27, 2014
                                                                            </li>
                                                                        </ul><span class="bar"><span style="width:12%;"></span></span>
                                                                        <div class="detail">
                                                                            <span class="fund">12% Funded</span><a href="#" class="star icon-star"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </article>

                                                    </div>
													<form action="#" method="post">
{#														<input type="button" value="上一页" name="last page" />#}
														<input type="button" value="加载更多" name="next page" class="center-block"/>
													</form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="page-section" style="background:url(../static/assets/images/bg-signup.jpg) no-repeat 100% 50%; background-size:cover;">
                        <div class="container">
                            <div class="row">
                                <div class="section-fullwidth col-lg-12">
                                    <div class="cs-content-holder">
                                        <div class="row">
                                            <div class="signup-area col-lg-12">
                                                <a href="{{ url_for('user.user_registering') }}" class="cs-btn">开始您的众筹之旅</a>
                                                <div class="main-heading">
                                                    <h1>
                                                        立即注册以参加重要的筹集。
                                                    </h1><strong class="title">我们有能力开始改变世界。</strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main><!--// Main Content //--><!--// Footer Widget //-->

        {% block footer %}
        {% endblock %}

        {% block copyright %}
        {% endblock %}

    </div><!-- jQuery (necessary JavaScript) -->

{#    {% block script %}#}
{#    {% endblock %}#}
     <script src="../static/assets/scripts/jquery.js"></script>
            <script src="../static/assets/scripts/bootstrap.min.js"></script>
            <script src="../static/assets/scripts/modernizr.js"></script>
            <script src="../static/assets/scripts/menu.js"></script>
            <script src="../static/assets/scripts/jquery.flexslider-min.js"></script>
            <script src="../static/assets/scripts/functions.js"></script>
            <script>
            jQuery(window).load(function(){              jQuery('.flexslider').flexslider({                      animation: "slide",                     controlNav: false,                      prevText:"<em class='icon-arrow-left10'><\/em>",                 nextText:"<em class='icon-arrow-right10'><\/em>",                        start: function(slider){                                jQuery('body').removeClass('loading');                  }               });     });
            </script>

</body>
</html>